---
---
$base-font-sans-serif: "brandon-grotesque", sans-serif;
// $base-font-serif: "acta-display", serif;

$main-color: #205580;
$secondary-color: #e5790c;

@import 'foundation_settings';
@import 'foundation/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
// @include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
// @include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
// @include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
// @include foundation-orbit;
@include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;

@import "lib";
@import "typeplate-sk/typeplate";

body {

}

.top,
a img {
    border: none;
}
a, a:hover, .format_text a:hover, .post_tags a, li.widget p a:hover {
    text-decoration: none;
}
img.aligncenter,
img.center,
img[align=middle] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
}

h4, h5,
.format_text h2,
#logo,
.format_text dt,
#respond_intro p a,
.login_alert p,
.comment_moderated {
    font-weight: 700;
}

.wethinq-color {
    background-color: #018DD8;
}

#header #logo {
    font-size: 3.6em;
    line-height: 1.167em;
}
#header #tagline {
    font-size: 1.4em;
    line-height: 1.429em;
}

#tagline {
    font-weight: 400;
    color: #888;
}

#header {
    clear: both;
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    border-color: #ddd;
    border-style: double;
}

#page {
    background: #ffffff;
    padding: 2.2em;
}

.entry-content img {
    float: left;
    display: block;
    border: 3px solid #eee;
    margin: 0 10px 10px 0;
}

#custom_box {
    font-size: 1.3em;
    line-height: 1.538em;
}

a,
h2 a:hover,
#logo a:hover {
    color: #2361A1;
}

blockquote {
    border-left: 1px solid #ddd;
    color: #666;
}
abbr,
acronym {
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none;
    cursor: help;
}
.caption {
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 11px;
}
code {
    line-height: 1em;
    background: #eee;
}

img[align=left] {
    float: left;
    clear: left;
}
img[align=right] {
    float: right;
    clear: right;
}

h1,
h2,
h3,
h6 {
    font-weight: 400;
}
h5,
h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sidebar h3 {
    font-variant: small-caps;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 1.385em;
    margin-bottom: .692em;
    color: #555;
}

ul.sidebar_list {
    list-style: none;
    padding-top: 2.2em;
}
li.widget {
    width: 100%;
    font-size: 1.3em;
    line-height: 1.385em;
    margin-bottom: 2.769em;
}

#mailform-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}
#mailform-title img {
    float: left;
    margin-left: -13px;
    margin-top: -10px;
}

// Comments //

#comments {
    margin-right: 2.3em;
    margin-left: 2.2em;
    margin-top: 4.4em;
}

.comment_bubble a {
    margin-left: -15px;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
}

.post_box {
    padding-top: 2.2em;
}

.post_box {
    clear: both;
    border-color: #bbb;
    border-style: dotted;
}


li.widget p {
    margin-bottom: 1.385em;
}

li.widget ul li {
    margin-bottom: .692em;
}
li.widget li ul {
    margin: .692em 0 0 1.385em;
}

li.widget ul {
    list-style: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body.custom {
    background: #F7F7F7
}
.custom #container {
    background: #F7F7F7 url(../images/body.png) no-repeat right 0
}
.custom #page {
    background: transparent;
    padding: 0 2em
}
.custom #header {
    border: none;
    margin-bottom: 3em
}
.custom #header #logo {
    margin-top: .5em;
    margin-left: 1.5em
}
.custom #header #logo a {
    color: #ff8f2e;
    background: transparent url(../images/header.png) no-repeat;
    text-indent: -9999em;
    display: block;
    width: 436px;
    height: 82px
}
.custom #header #tagline {
    text-indent: -999em;
    height: 1px
}
.custom .post {
    background: #fff;
    overflow: visible
}
.custom .post_box {
    background: #fff;
    padding: 1em
}
.custom.blog .post_box {
    width: 380px;
    float: left;
    margin: 0 0 10px
}
.custom .teasers_box {
    width: 32em;
    float: left;
    clear: none;
    padding-top: 0;
    margin: 0
}
.custom .teaser {
    border: 1px solid #efefef;
    clear: both;
    margin-bottom: 2em;
    width: 29em;
    float: right;
    padding: 1em
}
