<div id="footer">
  <div id="sociallinks">
    <h3>Find crisscrossed also on</h3> <span>></span>
    <ul>
      <li id="linkedinlink"><a href="http://de.linkedin.com/in/ckreutz" title="LinkedIn">Linked In</a></li>
      <li id="twitterlink"><a href="http://twitter.com/ckreutz" title="Twitter">Twitter</a></li>
    </ul>
  </div>
  <div id="footercontents">
    <ul>
      <li id="designcodeby"><a href="/imprint">Imprint / Privacy</a><br><a href="http://www.behance.net/dippa" title="Design By Dippa">Design By Dippa</a></li>
      <li id="creativecommons"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons License">Creative Commons License</a></li>
    </ul>
  </div>
</div>
</div>
</div>
<div class="remmodal">
  <div class="remodal" data-remodal-id="guide">
  <div class='header'>
    <i class='icon-envelope'></i>
    Download our Free Social Innovation Guide
  </div>
  <div class='header2'>
    14 Pages with great examples and how-tos
  </div>
  <form accept-charset='UTF-8' action='https://wt179.infusionsoft.com/app/form/process/2c0b40e619595389137436a63ce47d2c' method='POST'>
    <input name='inf_form_xid' type='hidden' value='2c0b40e619595389137436a63ce47d2c'>
    <input name='inf_form_name' type='hidden' value='Sign up for newsletter'>
    <input name='infusionsoft_version' type='hidden' value='1.36.0.43'>
    <div class='infusion-field'>
      <input class='infusion-field-input-container' id='inf_field_Email' name='inf_field_Email' placeholder='Email' type='text'>
    </div>
    </span>
  <input class='submit btn' type='submit' value='Get the Guide'>
  </form>
  <br>
  <p><a class="" href="#">No, I am not interested.</a></p>
</div>
</div>

<div class="redmodal-bg">
  <div class="remogdal" data-remodal-id="modal">
  <div class='header'>
    <i class='icon-envelope'></i>
    Follow the Crisscrossed blog!
  </div>
  <div class='header2'>
    Get every new post in your inbox!
  </div>
  <form accept-charset='UTF-8' action='https://wt179.infusionsoft.com/app/form/process/a2dce3559fab196da9729dca6393efae' class='infusion-form' method='POST'>
    <input name='inf_form_xid' type='hidden' value='a2dce3559fab196da9729dca6393efae'>
    <input name='inf_form_name' type='hidden' value='Sign up for newsletter'>
    <input name='infusionsoft_version' type='hidden' value='1.29.11.21'>
    <div class='infusion-field'>
      <input class='infusion-field-input-container' id='inf_field_Email' name='inf_field_Email' placeholder='Email' type='text'>
    </div>
    </span>
  <input class='submit btn' type='submit' value='Sign up'>
  </form>
  <br>
  <span>100% Privacy. I will never spam you.</span>
  <p><a class="" href="#">No, I am not interested.</a></p>
</div>
</div>
<!--[if lte IE 8]>
<div id="ie_clear"></div>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/js/ouibounce.min.js"></script>
<script src="/js/jquery.remodal.min.js"></script>
<script type="text/javascript">
  var disqus_shortname = 'crisscrossed';
  var disqus_identifier = '{{page.url}}';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
<script>
$(document).ready(function () {
  ouibounce(document.getElementById('tutorial'), {
    sitewide: true,
    callback: function() { $('[data-remodal-id=modal]').remodal().open(); }
  });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37650988-4', 'crisscrossed.net');
  ga('send', 'pageview');
  ga('set', 'anonymizeIp', true);
</script>
</body>
</html>