<div id="footer">
  <div id="sociallinks">
    <h3>Find crisscrossed also on</h3> <span>></span>
    <ul>
      <li id="linkedinlink"><a href="http://de.linkedin.com/in/ckreutz" title="LinkedIn">Linked In</a></li>
      <li id="twitterlink"><a href="http://twitter.com/ckreutz" title="Twitter">Twitter</a></li>
    </ul>
  </div>
  <div id="footercontents">
    <ul>
      <li id="designcodeby"><a href="http://www.behance.net/dippa" title="Design By Dippa">Design By Dippa</a></li>
      <li id="creativecommons"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons License">Creative Commons License</a></li>
    </ul>
  </div>
</div>
</div>
</div>
<!--[if lte IE 8]>
<div id="ie_clear"></div>
<![endif]-->
<script type="text/javascript">
  var disqus_shortname = 'crisscrossed';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
  </script>
</body>
</html>