<div class="row" id="footer">
  <div class="large-8 medium-9 columns">
    <div class="subline">
      <h4 class="float-left">Find crisscrossed also on <span>></span></h4>
      <ul class="no-bullet float-left">
        <li><a href="http://de.linkedin.com/in/ckreutz" title="LinkedIn" target="_blank"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="http://twitter.com/ckreutz" title="Twitter" target="_blank"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://github.com/crisscrossed" title="Github" target="_blank"><span class="fa fa-github"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="large-4 medium-3 columns centered">
    <ul class="no-bullet privacy">
      <li><a href="{{ site.url }}/imprint">Imprint / Privacy</a></li>
    </ul>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{{ site.url }}/js/foundation.core.js"></script>
<script src="{{ site.url }}/js/foundation.util.mediaQuery.js"></script>
<script src="{{ site.url }}/js/foundation.sticky.js"></script>
<script src="{{ site.url }}/js/foundation.util.triggers.js"></script>
<script src="{{ site.url }}/js/foundation.responsiveMenu.js"></script>
<script src="{{ site.url }}/js/foundation.responsiveToggle.js"></script>

<script>
 $(document).foundation();
</script>
{% if production %}
<script type="text/javascript">
  var disqus_shortname = 'crisscrossed';
  var disqus_identifier = '{{page.url}}';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
<div id="om-cxpfelm8ilox6px3-holder"></div>
<script>var cxpfelm8ilox6px3,cxpfelm8ilox6px3_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){cxpfelm8ilox6px3_poll(function(){if(window['om_loaded']){if(!cxpfelm8ilox6px3){cxpfelm8ilox6px3=new OptinMonsterApp();return cxpfelm8ilox6px3.init({u:"8516.179908",staging:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optinmonster.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;cxpfelm8ilox6px3=new OptinMonsterApp();cxpfelm8ilox6px3.init({u:"8516.179908",staging:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
<div id="om-edeob3t4fexfvcrw-holder"></div>
<script>var edeob3t4fexfvcrw,edeob3t4fexfvcrw_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){edeob3t4fexfvcrw_poll(function(){if(window['om_loaded']){if(!edeob3t4fexfvcrw){edeob3t4fexfvcrw=new OptinMonsterApp();return edeob3t4fexfvcrw.init({u:"8516.179897",staging:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optinmonster.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;edeob3t4fexfvcrw=new OptinMonsterApp();edeob3t4fexfvcrw.init({u:"8516.179897",staging:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37650988-4', 'crisscrossed.net');
  ga('send', 'pageview');
  ga('set', 'anonymizeIp', true);
</script>
{% endif %}
</body>
</html>
