<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ content | strip_html | truncatewords: 22 }}" />
    <meta name="keywords" content="{% for category in page.categories %} {{ category }}{% if category != forloop.last %},{% endif %} {% endfor %}" />
    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}
    <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='http://www.crisscrossed.net/atom.xml'>
    <link rel="author" href="https://plus.google.com/108387825462426516671" />
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" type="text/css" media="screen, projection" />
    <script type="text/javascript">
      (function(d) {
        var config = {
          kitId: 'skp6jtc',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(
      /\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement(
      "script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
      tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadyst
      atechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;
      f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body class="util {% if page.layout == 'start' or page.layout == 'start_de' %} blog {% endif %} ">
    {% include nav.html %}
  <div class="row" id="network">
    <div class="large-12 columns">
  	   <div id="header">
  		    <div id="logo"><a href="http://www.crisscrossed.net"><img src="{{ site.url }}/images/logo.png"></a><div>
  		    <div id="tagline">Thoughts and resources on open and social innovation.</div>
  	  </div>
    </div>
  </div>
