<div class="title-bar" data-responsive-toggle="menu" dropzone="" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="menu">
  <div class="">
    <ul class="menu">
      <li class="menu-text"></li>
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% assign url = page.url | replace:'/','' %}
        {% if url == link.url %}
          {% assign current = "active" %}
        {% endif %}
        {% if link.name == "de" and page.categories contains "de" %}
          {% assign current = "active" %}
        {% endif %}
        {% if link.name == "blog" and page.url == "/" %}
          {% assign current = "active" %}
        {% endif %}
        {% if link.name == "blog" and page.lang != "de" and page.layout == "post" %}
          {% assign current = "active" %}
        {% endif %}
        <li class="tab"><a href="{{ site.url }}/{{ link.url }}" title="{{ link.text }}" class="{{ current }}">{{ link.text }}</a></li>
      {% endfor %}
      <li class="tab"><a href="{% if page.lang == "de" %} /de/feed.xml {% else %} /atom.xml {% endif %}" title="RSS Feed"><div class="fa fa-rss"></div></a></li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li></li>
    </ul>
  </div>
</div>
