<div class="title-bar" data-responsive-toggle="menu" dropzone="" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="menu">
  <div class="">
    <ul class="menu">
      <li class="menu-text"></li>
      <li class="tab"><a href="/" title="Start">Blog</a></li>
      <li class="has-submenu"><a href="/about">About</a></li>
      <li class="tab"><a href="/archive/" title="Archive">Archive</a>
      <li class="tab"><a href="/de/" title="Deutsch">Deutsch</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li></li>
    </ul>
  </div>
</div>
