<ul class="menu">
<li class="tab tab-home"><a href="http://www.crisscrossed.net">Blog</a></li>
<li class="tab tab-1"><a href="/about/" title="About">About<!--[if gte IE 7]><!--></a><!--<![endif]-->        
    </li>
  </li>
<li class="tab tab-2"><a href="/archive/" title="Archive">Archive</a>
<li class="tab tab-3"><a href="/contact/" title="Contact">Contact</a></li>
<li class="tab tab-5"><a href="/company/" title="Company">Company</a></li>
<li class="tab tab-4"><a href="/de/" title="Deutsche Artikel">Deutsch</a></li>
  </ul>
