<div id="sidebars">
  <div id="sidebar_1" class="sidebar">
	  <ul class="sidebar_list">
      <li class="widget widget_text" id="text-4">
        <h3>Welcome!</h3>
        <div class="textwidget">
          <img src="/images/Christian_Kreutz_05_web.jpeg" alt="Christian Kreutz" class="alignright" />
This blog explores worldwide social innovations and information and communication technologies. <br>Christian Kreutz, the founder of Crisscrossed and creator of WE THINQ is an open knowledge advocate and adviser on new forms of online collaboration.
          <p><a href="http://feeds.feedburner.com/crisscrossed">
            <img src="http://feeds.feedburner.com/~fc/crisscrossed?bg=205580&amp;fg=ffffff&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
        </p>
          <p id="more_about" class="more_link"><a href="http://www.crisscrossed.de/en/about/" target="_blank">More</a></p>
        </div>
      </li><li class="widget widget_text" id="text-10"><h3>Subscribe to this blog</h3>
        <div class="textwidget">
          <ul id="subscribe_to_this_blog">
            <li id="subscribe_rss"><a href="http://feeds2.feedburner.com/crisscrossed">RSS</a></li>
            <li id="subscribe_email"><a href="http://www.feedburner.com/fb/a/emailverifySubmit?feedId=885914&loc=en_US">Email</a></li>
            <li id="subscribe_twitter"><a href="http://twitter.com/ckreutz">Twitter</a></li>
          </ul>
        </div>
	    </li>
    </ul>
    <div id="shape">
      <div id="mailform-title">
        <img src="/images/envelope.png">
        Free 7 Day Open Innovation Tutorial
      </div>
      <div id="mailform-subtitle">
        Receive a daily email with insights on how to make open innovation work for you.
      </div>
      <form accept-charset="UTF-8" action="https://wt179.infusionsoft.com/app/form/process/b2b0a53a7c5a6bcfdfc437b31a4a81d3" class="infusion-form" method="POST">
          <input name="inf_form_xid" type="hidden" value="b2b0a53a7c5a6bcfdfc437b31a4a81d3" />
          <input name="inf_form_name" type="hidden" value="Sign up for newsletter" />
          <input name="infusionsoft_version" type="hidden" value="1.29.11.21" />
          <div class="infusion-field">
              <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First name" type="text" />
          </div>
          <div class="infusion-field">
              <input class="infusion-field-input-container" placeholder="Email" id="inf_field_Email" name="inf_field_Email" type="text" />
          </div>
          <div class="infusion-captcha" style="margin-top: 10px;">
            <div>
                <img alt="captcha" border="0px" name="captcha" onclick="reloadJcaptcha();" src="https://wt179.infusionsoft.com/Jcaptcha/img.jsp" title="If you can't read the image, click it to get another one." />
                <script type="text/javascript">function reloadJcaptcha() {var now = new Date();if (document.images) {document.images.captcha.src = 'https://wt179.infusionsoft.com/Jcaptcha/img.jsp?reload=' + now}}</script>
            </div>
            <div>
                <label for="captcha.typed">Enter the above code:</label>
            </div>
            <div>
                <input class="infusion-field-input-container" placeholder="Enter the above code" id="captcha.typed" name="captcha.typed" type="text" />
            </div>
          </div>
          <input type="submit" class="btn submit" value="Sign up" />
      </form>
    </div>
    </p>
    <a href="http://www.we-thinq.de/en/" target="_blank"><img src="/images/we-thinq3.png"></a>
  </div>
</div>
</div>
