<div class="sidebar hide-for-small-only">
  <div class="callout small blue font-serif">
    <h4>Welcome!</h4>
    <div class="float-right" style="margin: 0 5px 0 5px;">
      <img alt="Christian Kreutz" class="" src="{{ site.url }}/images/Christian_Kreutz_05_web.jpeg"/>
    </div>
      This blog explores worldwide social innovations and information and communication technologies. Christian Kreutz, the founder of Crisscrossed and creator of WE THINQ is an open knowledge advocate and adviser on new forms of online innovation.
  </div>
  <div class="spacebottom"></div>
  <h3> <span class="fa fa-star orange"></span> Popular posts</h3>
  <ul class='side-nav no-bullet'>
   <li>
     <a href='{{ site.url }}/2015/07/17/20-inspiring-open-source-innovation-communities-and-tools'>20 inspiring open source innovation </a>
   </li>
   <li>
     <a href='{{ site.url }}/2015/01/27/social-innovation-and-data'>The role of data in social innovation</a>
   </li>
   <li>
     <a href='{{ site.url }}/2014/01/27/10-reasons-open-innovation-fails'>10 reasons Open Innovation fails</a>
   </li>
   <li>
     <a href='https://www.wethinq.com/en/blog/2014/02/18/32-Inspiring-Examples-of-Social-Innovation.html' target='_blank'>42 Inspiring Examples of Social Innovation</a>
   </li>
 </ul>
 <!-- <center>
    <a class="manual-optin-trigger" data-optin-slug="cxpfelm8ilox6px3" href="#"><img src="/images/soc-guide-crisscrossed.jpg">
    </a>
  </center> -->
  <div id="topsticky" class="spacetop"></div>
  <div id="subscribe-box" data-sticky-container>
  <div class="sticky" data-sticky data-top-anchor="topsticky" data-btm-anchor="footer:bottom">
    <div class="callout small blue font-sans-serif">
        <h4>Get new posts via email</h4>
        <form action="//crisscrossed.us8.list-manage.com/subscribe/post?u=7e357462910b9a15434ff8359&amp;id=4ce6fba3de" class="validate form" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate target="_blank">
            <input class="required email" id="mce-EMAIL" name="EMAIL" type="email" value="">
          <input class="button secondary" type="submit" value="SEND IT TO ME"/>
        </form>
      </div>
    </div>
  </div>
</div>
