<div class="sidebar hide-for-small-only">
  <div class="callout small blue">
    <div style="text-align: center; font-weight: bold; margin-bottom:15px;text-transform:uppercase;">Welcome</div>
    <div class="float-right" style="margin:5px 5px 0 5px;">
      <img alt="Christian Kreutz" class="profile-image" src="{{ site.url }}/images/Christian_Kreutz_05_web.jpeg"/>
    </div>
      This blog explores worldwide social innovations and information and communication technologies. Christian Kreutz, the founder of Crisscrossed and creator of WE THINQ is an open knowledge advocate and adviser on new forms of online innovation.
  </div>
  <div class="spacebottom"></div>
  <h3 class="font-title"><span class="fa fa-star orange"></span> Popular posts</h3>
  <ul class='side-nav no-bullet'>
   <li>
     <a href='{{ site.url }}/2015/07/17/20-inspiring-open-source-innovation-communities-and-tools/'>20 inspiring open source innovation </a>
   </li>
   <li>
     <a href='{{ site.url }}/2015/01/27/social-innovation-and-data/'>The role of data in social innovation</a>
   </li>
   <li>
     <a href='{{ site.url }}/2014/01/27/10-reasons-open-innovation-fails/'>10 reasons Open Innovation fails</a>
   </li>
   <li>
     <a href='https://www.wethinq.com/en/blog/2014/02/18/32-Inspiring-Examples-of-Social-Innovation.html' target='_blank'>42 Inspiring Examples of Social Innovation</a>
   </li>
 </ul>
 <!-- <center>
    <a class="manual-optin-trigger" data-optin-slug="cxpfelm8ilox6px3" href="#"><img src="/images/soc-guide-crisscrossed.jpg">
    </a>
  </center> -->
  <div id="topsticky" class="spacetop"></div>
  <div id="subscribe-box" data-sticky-container>
  <div class="sticky" data-sticky data-top-anchor="topsticky" data-btm-anchor="footer:bottom">
    <div class="callout small blue">
        <h4 class="font-title">Get new posts via email</h4>
        <form action="https://crisscrossed.activehosted.com/proc.php" id="_form_1183_" class="validate form" method="post" name="" novalidate target="_blank">
          <input type="hidden" name="u" value="1183" />
          <input type="hidden" name="f" value="1183" />
          <input type="hidden" name="s" />
          <input type="hidden" name="c" value="0" />
          <input type="hidden" name="m" value="0" />
          <input type="hidden" name="act" value="sub" />
          <input type="hidden" name="v" value="2" />
            <input name="email" type="email" placeholder="Type your email">
          <input class="button secondary" type="submit" value="SUBSCRIBE"/>
          <span class="font-base" style="margin-left: 15px;"></span>
        </form>
      </div>
    </div>
  </div>
</div>
