{% include header.html %}
<div class="row">
  <div class="large-9 columns hfeed" id="content">
    <div class="post type-post status-publish format-standard hentry post_box top">
      <div class="headline_area">
        <div class="comment_bubble">
          <a href="https://www.twitter.com/ckreutz" id="tweets" target="_blank" title="Twitter"/></div>
        <h1 class="entry-title">
          {{ page.title }}</h1>
        <p class="headline_meta">
          <abbr class="published" title="{{ page.date | date: '%d-%m-%Y' }}">
            {{ page.date | date: "%b / %d / %Y"  }}</abbr>|
          <span author” class=”vcard>
            <span class=”fn”>
              <a href="https://plus.google.com/108387825462426516671?rel=author">Christian Kreutz</a>
            </span>
          </span>
        </p>
      </div>
      <div class="format_text entry-content">
        {% if page.image %}
        <div class="image">
          <img src="/images/photos/medium/{{ page.image }}">
          {% if page.caption %}
          <div class="caption">
            {{ page.caption }}</div>{% endif %}
        </div>
        {% endif %}
        {{ content  }}

        <p>
          <b>If you enjoyed this post, get free updates by
            <a href="/form.html">
              Email</a>or
            <a href="http://feeds2.feedburner.com/crisscrossed">
              RSS</a>.</b>
        </p>
        <dl class="tags">
          <dt>
            Tagged as:</dt>{% for category in page.categories %}
          <dd>
            <a href="/categories/{{ category }}">{{ category }}</a>
          </dd>{% endfor %}
        </dl>
      </div>
    </div>
    {% if production %}
    <div id="comments">
      <div id="disqus_thread"/>
      <script type="text/javascript">
        var disqus_shortname = 'crisscrossed';
        var disqus_identifier = '{{ page.url }}';
        (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    </div>
    {% endif %}
  </div>
  <div class="large-3 columns">
  {% include sidebar.html %}
</div>
</div>

<script>
  dug({
    endpoint: 'https://free.sharedcount.com/?url=http://www.crisscrossed.net{{ page.url }}/&apikey=85601d8f552d0da709682cd919d4e9c1f2e06aef',
    target: 'tweets',
    {% raw %}
    template: '{{Twitter}}' {% endraw %}
});
</script>{% include footer.html %}
