{% include header.html %}
<div id="content_box">
  <div id="content" class="hfeed">
    {% for post in site.posts limit:1 %}
    <div class="post type-post status-publish hentry format-standard post_box top">
		  <div class="headline_area">
        <div class="comment_bubble">
          <a href="#disqus_thread" rel="nofollow" data-disqus-identifier="{{ post.url }}"></a>
        </div>
  			<h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="Permanent link to A world of big (closed) data and its unused potential">{{ post.title }}</a></h2>
				<p class="headline_meta"><abbr class="published" title="{{ post.date | date: '%d-%m-%Y'  }}">{{ post.date | date: "%b / %d / %Y"  }}</abbr></p>
			</div>
			<div class="format_text entry-content">
			  <p>{{ post.content | truncatewords: 210 }} </p>
        <p><a href="{{ post.url }}" class="more-link">Read more</a></p>
 			</div>
		</div>
    {% endfor %}
    <div class="teasers_box">
      {% for teaser in site.posts limit:3 %}
      {% if forloop.rindex < 3 %} 
      <div class="post type-post status-publish format-standard hentry teaser">
        <div class="comment_bubble">
          <a href="#disqus_thread" rel="nofollow" data-disqus-identifier="{{ teaser.url }}"></a>
        </div>
        <h2 class="entry-title"><a href="{{ teaser.url }}" rel="bookmark" title="Permanent link to Knowledge management in decline and the prove of data">{{ teaser.title }}</a>
          </h2>
          <abbr class="teaser_date published" title="{{ teaser.date | date: '%d-%m-%Y'  }}">{{ teaser.date | date: "%b / %d / %Y"  }}</abbr>
          
          <div class="format_teaser entry-content">
            <p>{{ teaser.content | strip_html | truncatewords: 80 }} </p>
				  </div>
            <a class="teaser_link" href="{{ teaser.url }}" rel="nofollow">read more</a>
			  </div>
			    {% endif %}
			  {% endfor %}
		  </div>

		</div>
		
		
		{% include sidebar.html %}
      {% include footer.html %}