{% include header.html %}
<div id="content_box">
  <div id="content" class="hfeed">
    {% assign main = 1 %}
    {% assign teaser = 1 %}
    {% for post in site.posts %}
    {% if post.lang == 'de' %}
        {% if main < 2 %}
    <div class="post type-post status-publish hentry format-standard post_box top">
		  <div class="headline_area">
        <div class="comment_bubble">
          <a href="#disqus_thread" rel="nofollow" data-disqus-identifier="{{ post.url }}"></a>
        </div>
  			<h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="Permanent link to A world of big (closed) data and its unused potential">{{ post.title }}</a></h2>
				<p class="headline_meta"><abbr class="published" title="{{ post.date | date: '%d-%m-%Y'  }}">{{ post.date | date: "%b / %d / %Y"  }}</abbr></p>
			</div>
			<div class="format_text entry-content">
      {% if post.image %}
        <div class="image">
          <img src="/images/photos/thumbnail/{{ post.image }}">
        </div>
        {% endif %}
			  <p>{{ post.content | truncatewords: 180 }} </p>
        <p><a href="{{ post.url }}" class="more-link">Weiter lesen</a></p>
 			</div>
    </div>
    {% assign main = 2 %}
		{% endif %}
    {% if teaser < 3 and okay == 1 %}
       <div class="teasers_box">
      <div class="post type-post status-publish format-standard hentry teaser">
        <div class="comment_bubble">
          <a href="#disqus_thread" rel="nofollow" data-disqus-identifier="{{ post.url }}"></a>
        </div>
        <h2 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="Permanent link to Knowledge management in decline and the prove of data">{{ post.title }}</a>
          </h2>
          <abbr class="teaser_date published" title="{{ post.date | date: '%d-%m-%Y'  }}">{{ post.date | date: "%b / %d / %Y"  }}</abbr>

          <div class="format_teaser entry-content">
        {% if post.image %}
        <div class="image">
          <img src="/images/photos/small/{{ post.image }}">
        </div>
          {% endif %}
            <p>{{ post.content | strip_html | truncatewords: 80 }} </p>
				  </div>
            <a class="teaser_link" href="{{ teaser.url }}" rel="nofollow">Weiter lesen</a>
          </div>
        </div>
       {% assign teaser=teaser | plus:1 %}
			    {% endif %}
        {% assign okay = 1 %}
          {% endif %}
			  {% endfor %}
		  </div>


		{% include sidebar.html %}
      {% include footer.html %}
